
.hoverbox {
	position: relative;
	.info{
		display: none;
	}
	&:hover {
		.info {
			display: block;
	    position: absolute;
      bottom: 18px;
    	padding-top: 5px;
    	z-index: 450;
    	background: white;
    	min-height: 300px;
      max-height: 500px;
      overflow: scroll;
    	min-width: 300px;
      max-width: 500px;
      border: 3px solid gray;
		}
	}
}

.eveList{
  padding-bottom: 3px;
  max-width: 300px;
}



/** Messing with grid format
.info {
	
	}
  **/
/**
  .row1{
    z-index: 0;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 10px;
  }

  .left1{
    grid-column: 1/2;
  }
  .middle1{
    grid-column: 2/8;
  }

  .right1{
    grid-column: 8/10;
  }
  **/
